<%- include header %>

    <div class="content">
        <h1 class="movie_heading"><%= director.first_name %> <%= director.last_name %></h1>

        <div class="movie_detail">
            <div class="image">
                <% if (director.image) { %>
                    <img src="<%=director.image_file %>" width='190px' height='270px'>
                <% } else { %>
                    <img src='images/undefined.jpg' width='190px' height='270px'>
                <% } %>
            </div>
            <p><span  class="sub-heading">Date of Birth: </span> <%= director.dob %></p>
            <p><span  class="sub-heading">Age: </span> <%= director.age %></p>
            <p><span  class="sub-heading">Movies:</p>
            
            <ul>
                <% director_movies.forEach(function(movie)  { %>
                    <li class="director_movies"><a href=<%= movie.url %> ><%= movie.name %></a></li>
                <% }) %>

            </ul>
            <% var link = director.url + '/delete'; %>
            <a class='button' href=<%= link %> >Delete Director</a>

            <% var link2 = director.url + '/update'; %>
            <a class='button blue' href=<%= link2 %> >Update Director</a>
        </div>
    </div>
    
    </body>
</html>


