<%- include header %>

        <div class="content">
            <h1>Add a movie</h1>

            <div class="form">
                <form action="" method="POST" enctype="multipart/form-data">
                    <label for="name">Movie Name</label>
                    <input type="text" id="name" name="name" value=
                    <% var str; %>
                    <% if(typeof movie == 'undefined') { %>
                        <% str = ""; %>
                    <% } else { %>
                        <% str = movie.name %>
                    <% } %> 
                    "<%= str %>" >

                    <label for="director">Director</label>
                    <select name="director">
                        <% directors.forEach(function(director) { %>
                            <% if(typeof movie !== 'undefined') { %>
                                <option value= <%= director._id %> <%= (director._id.toString()==movie.director._id) ? 'selected="selected"' : "" %> ><%= director.name %> </option>
                        <% } else { %>
                            <option value= <%= director._id %> ><%= director.name %> </option>
                            <% } %>
                        <% }) %>
                    </select>
                    
                    <label for="description">Plot Summary</label>
                    <textarea id="description" style="height: 120px" name="description"><% var str; %><% if(typeof movie == 'undefined') { %><% str = ""; %><% } else { %><% str = movie.description %><% } %><%= str %></textarea>

                    <label for="release">Year of Release</label>
                    <input type="text" id="release" name="release" value=
                    <% var str; %>
                    <% if(typeof movie == 'undefined') { %>
                        <% str = ""; %>
                    <% } else { %>
                        <% str = movie.release %>
                    <% } %> 
                    <%= str %> >

                    <label for="genre">Genre:</label>
                    <div>
                        <% genres.forEach(function(genre) { %>
                            <div style='display: inline; padding-right:10px;'>
                                <input type='checkbox' <%= genre.checked ? "checked" : "" %> name='genre' id=<%= genre._id %> value=<%= genre._id %> >
                                <label for= <%= genre._id %> ><%= genre.name %> </label>
                        <% }) %>
                    </div>
                    <div>
                        <% if(typeof movie != 'undefined' && movie.image ) { %>
                            <img src=<%= movie.image_file %>  width='126px' height='180px' style="margin-top:30px; margin-bottom:30px">
                            <label>Change current image</label>
                            <input name="curImage" value=<%= movie.image %> type="hidden">
                            <input name="image" type="file" style="margin-top: 30px; margin-bottom: 30px">
                        <% } else { %>
                            <label>Image:</label>
                            <input name="image" type="file" style="margin-top: 30px; margin-bottom: 30px">
                        <% } %>
                        
                    </div>
                    <input type="submit" value="OK" style="display:block">
                    <% if (typeof errors != 'undefined'){%>
                        <p class="error">
                        <% errors.forEach(function(el) { %>
                            <span><%= el.msg %></span>
                        <% }) %>
                        </p>
                    <% } %>
                </form>
            </div>
        </div>

    </body>
</html>