<%- include header %>

    <div class="content">
        <h1 class=" movie_heading"><%= movie.name %></h1>

        <div class="movie_detail">
            <div class="image">
                <% if (movie.image) { %>
                    <img src=<%=movie.image_file %> width='190px' height='270px'>
                <% } else { %>
                    <img src='images/noimage.png' width='190px' height='270px'>
                <% } %>
            </div>
            <p><span class="sub-heading">Director</span>: <a href=<%=movie.director.url%> ><%= movie.director.name %></a></p>
            <% var genreString = ""; %>
            <% movie.genre.forEach(function(val, index) { %>
                <% genreString += `<a href= ${val.url}>${val.name}</a>` %>
                <% if(index < movie.genre.length - 1) { %>
                    <% genreString += " ,"; %>
                <% } %> 
            <% }) %>
            <p><span class="sub-heading">Genre</span>: <%- genreString %></p>
            <p><span class="sub-heading">Plot Summary</span>: <%= movie.description %></p>
            <p><span class="sub-heading">Release Year</span>: <%= movie.release %></p>

            <% var link = movie.url + '/delete'; %>
            <a class='button' href=<%= link %> >Delete Movie</a>

            <% var link2 = movie.url + '/update'; %>
            <a class='button blue' href=<%= link2 %> >Update Movie</a>
        </div>
    </div>
    
    </body>
</html>


